/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* end reset */

body {
  background-color: #FFF6E8;
}

h1 {
  /* color: pink; */
  font-family: 'Bungee Shade', cursive;
  font-size: 10vh;


  -webkit-animation:colorchange 50s infinite alternate;
}

@-webkit-keyframes colorchange {
      0% {

        color: aliceblue;
      }

      10% {

        color: bisque;
      }

      20% {

        color: azure;
      }

      30% {

        color: pink;
      }

      40% {

        color: cornflowerblue;
      }

      50% {

        color: lightgoldenrodyellow;
      }

      60% {

        color: ivory;
      }

      70% {

        color: pink;
      }
      80% {

        color: mediumseagreen;
      }

      90% {

        color: ivory;
      }

      100% {

        color: pink;
      }
    }


.wrapper {
  padding: 0 5vw;
	display: grid;
}

.hero {
  text-align: center;
	padding: 20px 0 30px 0;
}

.responsive-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.gallery {
	display: grid;
	grid-template-columns: minmax(300px, 900px);
	justify-content: center;
	padding: 0 20px;
	/* height: 110vh;
	overflow-y: scroll; */
}

.image-wrapper {
	margin: 0 auto 40px auto;
	border-radius: 25px;
	-webkit-box-shadow: inset 5px 8px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 5px 8px 3px 0px rgba(0,0,0,0.25);
	box-shadow: inset 5px 8px 3px 0px rgba(0,0,0,0.25);
}

.image-wrapper > * {
  border-radius: 25px;
	position: relative;
	z-index: -1;
}

.social-links {
  text-align: center;
  padding: 60px 0;
}

.social-links > * {
  padding: 10px;
  color: pink;
}

.social-links > *:hover {
  opacity: .8;

}

.footer-bg {
	display: block;
  max-width: 100%;
  margin: 0 auto;
}

.footer-nav {

}
