/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

:root {
	--coral: #FE966C;
	--purple: #3D32C0;
}
body {
	line-height: 1;
	font-size: 10px;
	scroll-behavior: smooth;
}
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: var(--purple);
}

a p {
	color: var(--purple);
}

/* end reset */

body {
  background-color: #FFF6E8;
}

h1 {
  /* color: pink; */
  font-family: 'Modak', cursive;
  font-size: 10vh;
	color: var(--coral);
  /* -webkit-animation:colorchange 50s infinite alternate; */
}

h2 {
	font-family: 'Modak', sans-serif;
	font-size: 36px;
	color: var(--coral);
	margin-bottom: 1rem;
}

p {
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	color: var(--coral);
	margin-bottom: 1rem;
	line-height: 1.3;
}

@-webkit-keyframes colorchange {
      0% {

        color: aliceblue;
      }

      10% {

        color: bisque;
      }

      20% {

        color: azure;
      }

      30% {

        color: pink;
      }

      40% {

        color: cornflowerblue;
      }

      50% {

        color: lightgoldenrodyellow;
      }

      60% {

        color: ivory;
      }

      70% {

        color: pink;
      }
      80% {

        color: mediumseagreen;
      }

      90% {

        color: ivory;
      }

      100% {

        color: pink;
      }
    }

nav {
	text-align: center;
	/* margin-top: -40px; */
}

nav p {
	font-size: 15px;
	cursor: url(../assets/), pointer;
}

a p.active {
	color: var(--coral);
}

a > *:hover {
  color: var(--coral);
	transition: all 0.4s ease-in-out 0s;
}

/* Containers */
.container-lg, .container-sm, .container-half {
  margin: 0 1.6rem 8rem 1.6rem
}

.container-half {
	display: grid;
	grid-template-columns: repeat(auto-fit, 20rem);
	grid-gap: 3rem;
	justify-content: center;
	justify-items: center;
	align-items: center;
	padding: 0 16px;
}

.container-sm {
  display: grid;
  grid-template-columns: minmax(300px, 800px);
  justify-content: center;
	justify-items: center;
	text-align: center;
	padding: 0 16px;
}

.wrapper {
  padding: 0 5vw;
	display: grid;
}

.hero {
  text-align: center;
	padding: 20px 0 30px 0;
}

.hero .mobile {
	display: none;
}

@media only screen and (max-width: 480px){
  .hero .mobile {
		display: block;
  }
	.hero .full {
		display: none;
	}
}

.responsive-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.gallery {
	display: grid;
	grid-template-columns: minmax(300px, 900px);
	justify-content: center;
	padding: 80px 0 20px 0;
	/* height: 110vh;
	overflow-y: scroll; */
}

.image-wrapper {
	margin: 0 auto 40px auto;
	border-radius: 25px;
	-webkit-box-shadow: inset 5px 8px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 5px 8px 3px 0px rgba(0,0,0,0.25);
	box-shadow: inset 5px 8px 3px 0px rgba(0,0,0,0.25);
}

.image-wrapper > * {
  border-radius: 25px;
	position: relative;
	z-index: -1;
}

.social-links {
  text-align: center;
  padding: 10px 0 60px 0;
}

.social-links > * {
  padding: 10px;
  color: var(--coral);
}

.social-links > *:hover {
  color: pink;
	transition: all 0.4s ease-in-out 0s;
}

.footer-bg {
	display: block;
  max-width: 100%;
  margin: 0 auto;
}

.footer-nav {

}

@media only screen and (max-width: 480px){
  .rev {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
  }
}
